name: Build Windows

on: push

jobs:    
  build-windows:
    runs-on: "windows-2019"
    steps:
    - name: Set up MSBuild path
      uses: microsoft/setup-msbuild@v1.0.2

    - uses: actions/checkout@v2

    - name: Download OpenCV repo/s
      working-directory: scripts/windows
      shell: cmd
      run: .\download.bat options\options_opencv4.9.0_contrib_vc16.txt

    - name: Build OpenCV
      working-directory: scripts/windows
      shell: cmd
      run: .\build.bat options\options_opencv4.9.0_contrib_vc16.txt
    
    - name: Remove build folder
      uses: JesseTG/rm@v1.0.3
      with:
        path: build

    - run: Compress-Archive -Path install/* -Destination opencv-${{github.ref.name}}-windows.zip

    - name: Upload Release Asset
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: opencv-${{github.ref_name}}-windows.zip
        tag_name: ${{ github.ref_name }}
        name: ${{ github.ref_name }}
        draft: false
        prerelease: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

